# Build Folders
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code files
.vscode/
.vscode/*

# Visual Studio
.vs/
.vs/*

# Rider
.idea/
.idea/*

# Package files
*.nupkg
*.snupkg

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Backups
*~ 

# Database files
*.mdf
*.ldf

# Environmental variables
.env
*.env

# Other sensitive files
appsettings*.json
.fake